// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Summary confirmation styles

.notifications .error-summary,
.notifications .warning-summary,
.notifications .success-summary,
.notifications .info-summary {
  margin-bottom: 0px !important;
}

.notifications .error-summary:last-child,
.notifications .warning-summary:last-child,
.notifications .success-summary:last-child,
.notifications .info-summary:last-child {
  margin-bottom: 100px;
}

.error-summary,
.info-summary,
.success-summary,
.warning-summary {
  border-width: 4px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary,
  .info-summary,
  .success-summary,
  .warning-summary {
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

.error-summary:focus,
.info-summary:focus,
.success-summary:focus,
.warning-summary:focus {
  outline: 3px solid #ffbf47;
}

.error-summary p,
.info-summary p,
.success-summary p,
.warning-summary p {
  margin-bottom: 10px;
}

.error-summary-heading,
.info-summary-heading,
.success-summary-heading,
.warning-summary-heading {
  margin-top: 0;
}

.error-summary h1[class^='heading-'],
.info-summary h1[class^='heading-'],
.success-summary h1[class^='heading-'],
.warning-summary h1[class^='heading-'] {
  margin: 0;
}

.error-summary h2[class^='heading-'],
.info-summary h2[class^='heading-'],
.success-summary h2[class^='heading-'],
.warning-summary h2[class^='heading-'] {
  margin: 0;
}

.error-summary h3[class^='heading-'],
.info-summary h3[class^='heading-'],
.success-summary h3[class^='heading-'],
.warning-summary h3[class^='heading-'] {
  margin: 0;
}

.error-summary h4[class^='heading-'],
.info-summary h4[class^='heading-'],
.success-summary h4[class^='heading-'],
.warning-summary h4[class^='heading-'] {
  margin: 0;
}

.error-summary h5[class^='heading-'],
.info-summary h5[class^='heading-'],
.success-summary h5[class^='heading-'],
.warning-summary h5[class^='heading-'] {
  margin: 0;
}

.error-summary h6[class^='heading-'],
.info-summary h6[class^='heading-'],
.success-summary h6[class^='heading-'],
.warning-summary h6[class^='heading-'] {
  margin: 0;
}

.error-summary-list,
.info-summary-list,
.success-summary-list,
.warning-summary-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  .error-summary-list li,
  .info-summary-list li,
  .success-summary-list li,
  .warning-summary-list li {
    margin-bottom: 5px;
  }
}

.error-summary-list a,
.info-summary-list a,
.success-summary-list a,
.warning-summary-list a {
  font-weight: bold;
  text-decoration: underline;
}

.info-dismiss,
.success-dismiss,
.warning-dismiss {
  font-weight: bold;
  text-decoration: underline;
}

.info-summary {
  border-color: #2e358b;
}

@media (min-width: 641px) {
  .info-summary {
    border-color: #2e358b;
  }
}

.info-summary .info-summary-list a {
  color: #2e358b;
}

.info-summary .info-dismiss {
  color: #2e358b;
}

.success-summary {
  border-color: #28a197;
}


@media (min-width: 641px) {
  .success-summary {
    border-color: #28a197;
  }
}

.success-summary .success-summary-list a {
  color: #28a197;
}

.success-summary .success-dismiss {
  color: #28a197;
}

.warning-summary {
  border-color: #f47738;
}

@media (min-width: 641px) {
  .warning-summary {
    border-color: #f47738;
  }
}

.warning-summary .warning-summary-list a {
  color: #f47738;
}

.warning-summary .warning-dismiss {
  color: #f47738;
}


.clear-button {
  background: transparent;
  color: #005ea5 !important;
  border: none;
  box-shadow: none;
  padding-top: 11px;
  text-decoration: underline !important;
}

.clear-button:hover {
  background: transparent;
  color: #005ea5 !important;
  border: none;
  box-shadow: none;
  padding-top: 11px;
  text-decoration: underline !important;
}


.accordion-controls {
  text-align: right;
}

.accordion-expand-all {
  display: inline;
  background: transparent;
  border-width: 0;
  font-size: 16px;
  color: #005EA5;
  cursor: pointer;
}

.accordion .accordion-section[aria-expanded="false"] .accordion-section-body {
  display: none;
}

.accordion.with-js {
  border-bottom-width: 1px;
  border-bottom-color: #bfc1c3;
  border-bottom-style: solid;
}

.accordion.with-js .accordion-section {
  border-top-width: 1px;
  border-top-color: #bfc1c3;
  border-top-style: solid;
}

.accordion.with-js h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion.with-js .accordion-section-header {
  cursor: pointer;
  position: relative;
  padding-top: 14px;
  padding-bottom: 12px;
}

.accordion.with-js .accordion-section-header h2 {
  color: #005EA5;
}

.accordion.with-js .accordion-section-header:hover {
  background-color: #f8f8f8;
}

.accordion.with-js .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 16px;
  width: 16px;
  margin-top: -8px;
  /* Note: you may have to update these URL paths */
  /* PNG fallback for SVG */
  background-image: url("/public/images/icon-plus-minus.png");
  /* SVG sprite */
  background: url("/public/images/icon-plus-minus.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: 0 -16px;
}

.accordion.with-js .accordion-section[aria-expanded="true"] .icon {
  background-position: 0 0;
}