{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

           <h1 class="govuk-heading-xl">
             Check your details
           </h1>
           <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation
              </dt>
              <dd class="govuk-summary-list__value">
                Assurance Aerospace Ltd
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="searchOrgAORN">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                No 2 Lochrin Square<br>
                96 Fountainbridge<br>
                Edinburgh<br>
                EH3 9QA
              </dd>
              <dd class="govuk-summary-list__actions">
  
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Account office reference number
              </dt>
              <dd class="govuk-summary-list__value">
                1298371283712
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="pensionsReg">
                  Change<span class="govuk-visually-hidden"> contact information</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                PAYE scheme
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">07700900457</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="ways-to-add-paye">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
          </dl>

          <a href="/1-0/registration/agreement/v1/aboutAgreement" class="govuk-button">These details are correct</a>
        <p style="padding-top:20px">
    </div>
</div>

{% endblock %}