{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "index" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="partWay">
     <h1 class="govuk-heading-xl">
          Sign in
        </h1>

        <p>
          Sign in or <a href="new-user">create an account</a> to manage your apprenticeship funds.
        </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          </legend>
          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-three-quarters bold-label" for="email">
                  Email address
              </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="text" aria-describedby="">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label bold-label govuk-!-width-three-quarters" for="password">
                 Password
              </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="text" aria-describedby="">
          </div>
          </fieldset>
        </div>

        <a href="interim-homepage" class="govuk-button">Sign in</a>

      </form>

      <p style="padding-top:20px">
 <a href="#">Forgotten your password?</a>
</p>

    </div>
  </div>

{% endblock %}
