{% extends "layout.html" %}

{% set serviceName = "Manage apprenticeships" %}

{% block pageTitle %}
{% if validationError == "true" %}Error: {% endif %}
Do you want to review the agreement now?
{% endblock %}

{% block beforeContent %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% from "inset-text/macro.njk" import govukInsetText %}

{% set _orgName = data['orgName'] or "ASSURANCE AEROSPACE LTD" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if validationError == "true" %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl">Do you want to review the employer agreement now?</h1>

        <p class="govuk-body">The agreement is between {{_orgName}} and the Education and Skills Funding Agency (ESFA).</p>

        <h2 class="govuk-heading-m">Important features of the agreement</h2>
        <p class="govuk-body">{{_orgName}} must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>only use the funding in its apprenticeship service account to train and assess apprentices</li>
            <li>have a contract with its training providers so they can carry out apprenticeship training</li>
            <li>follow the apprenticeship funding rules</li>
        </ul>
        <p class="govuk-body">The ESFA can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>suspend payments, recover funds or close {{_orgName}}’s account if it breaks the agreement</li>
            <li>change the terms of the agreement (if this happens, we will ask {{_orgName}} to accept the new terms)</li>
            <li>change any part of the apprenticeship service</li>
        </ul><br>
        
        <!-- {{ govukInsetText({
            text: "You can continue creating an account without reviewing the agreement. " + _orgName + " cannot get or reserve funding until it accepts the agreement."
        }) }} -->

        <form method="post" class="form">

             <!-- RADIOS -->
             <div class="govuk-form-group {% if validationErrors.agreementCheck %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" >
                    {% if validationErrors.agreementCheck %}
                    <span id="agreementCheck-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{validationErrors.agreementCheck.message}}
                    </span>
                    {% endif %}
                    <div class="govuk-radios govuk-radios--inline" id="agreementCheck">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="agreementCheck-1" name="agreementCheck" type="radio" value="yes" >
                            <label class="govuk-label govuk-radios__label" for="agreementCheck-1">
                                Yes, I’ll review the agreement now
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="agreementCheck-2" name="agreementCheck" type="radio" value="no" >
                            <label class="govuk-label govuk-radios__label" for="agreementCheck-2">
                                No, I’ll review the agreement later
                            </label>
                            <span class="govuk-hint govuk-radios__hint">
                                You can continue creating an account and review the agreement later. {{_orgName}} cannot get or reserve funding until it accepts the agreement.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
    
            <button class="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}