{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "signin" %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
     <h1 class="govuk-heading-xl">Reset your password</h1>
     <p>Enter your email address to get a password reset code.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label  bold-label" for="orgName">Email</label>

              <input class="govuk-input"  id="passwordReset" name="passwordReset" type="text" aria-describedby="passwordReset">
          </div>
          </fieldset>
        </div>
        <a href="searchOrgResults" class="govuk-button">Get reset code</a>
      </form>

    </div>
  </div>
       

  </div>
{% endblock %}