{% extends "layout.html" %}

{% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/1-0/registration/check-your-details"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="updatedagreement" method="get" class="form">
        <span class="govuk-caption-xl">Assurance Aerospace Ltd</span>
     <h1 class="govuk-heading-xl">About your agreement</h1>


        </h1>
        <p>This agreement creates a legal contract between <span style="font-weight:700">Assurance Aerospace Ltd</span> and the <span style="font-weight:700">Education and Skills Funding Agency (ESFA)</span>. It allows you to transfer funds to other employers and pay training providers for apprenticeships.</p>
        <p>You need to ensure you have the authority from your organisation before you sign this agreement.</p>


        <div class="govuk-form-group">
        <!-- <button class="govuk-button">Continue to your agreement</button> -->
        <a href="/1-0/registration/agreement/v1/agreement" class="govuk-button">Continue to your agreement</a>
      </form>

    </div>
  </div>
      </div>
  </div>
{% endblock %}