{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="success-summary">
        <h1 class="govuk-heading-l" style="color:#000; margin-bottom:5px">
          You are now unsubscribed
        </h1>
        <div class="govuk-body" style="color:#000">
          We can confirm you have now been unsubscribed from our marketing communications and will no longer receive emails from us.
        </div>
      </div>

      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "What next?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "wales",
            text: "Return to the homepage"
          }
        ]
      }) }}
    
      <a href="/1-0/registration/interim-homepage" class="govuk-button">Continue</a>

    </div>
</div>

{% endblock %}