{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="success-summary">
        <h1 class="govuk-heading-l" style="color:#000; margin-bottom:5px">
          We've sent you an email
        </h1>
        <div class="govuk-body" style="color:#000">
          To confirm your email address, we've sent a code to {{ data['providerRegisterEmail'] }}
        </div>
      </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label" for="code">
                 Enter the code
              </label>
              <input class="govuk-input  govuk-input--width-10" id="code" name="code" type="text" aria-describedby="First Name">
          </div>
          </fieldset>
        </div>

        <a href="gov-funding" class="govuk-button">Continue</a>

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Not received the email?</h2>
        <p><a href="#" class="govuk-link--no-visited-state">You can request another email</a></p>

    </div>
</div>

{% endblock %}