{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <form method="post" class="form">

           <h1 class="govuk-heading-xl">
             Get apprenticeship funding
           </h1>
           <p class="govuk-body">If you're ready to pay for your apprenticeship training, you can do this now by adding the PAYE scheme for your organisation.</p>
           <p> If you don't need to get apprenticeship funding yet, you can still register an account to:</p>
                <ul class="govuk-list govuk-list--bullet">
               <li>search and save apprenticeships</li>
               <li>save your chosen training providers</li>
           </ul>
           <p class="govuk-body">To get apprenticeship funding now, you can use either of the following:</p>
          <ul class="govuk-list govuk-list--bullet">
               <li>the Government Gateway login for your PAYE scheme</li>
               <li>your accounts office reference number and employer PAYE scheme reference</li>
           </ul>

           <p>
            <a href="https://www.gov.uk/log-in-register-hmrc-online-services/problems-signing-in" target="blank">Can't find your Government Gateway details?</a>
          </p>
          
           <details class="govuk-details" role="group">
                 <summary class="govuk-details__summary" role="button" aria-controls="details-content-17643193-f49b-4eeb-9ab9-17631c4c3fab" aria-expanded="false">
                   <span class="govuk-details__summary-text">
                    Find your accounts office and PAYE scheme reference numbers
                   </span>
                 </summary>
                 <div class="govuk-details__text" id="details-content-17643193-f49b-4eeb-9ab9-17631c4c3fab" aria-hidden="true">
                 <p> You can find your 13-character accounts office reference number on the letter HMRC sent you when you first registered as an employer.</p>
                 <p>You will find your employer PAYE scheme reference in the payslip booklet HMRC provided. Contact HMRC or your accountant if you do not have access to the booklet.</p>
                 </div>
           </details>



           {% from "radios/macro.njk" import govukRadios %}

           {{ govukRadios({
             idPrefix: "add-your-paye",
             name: "add-your-paye",
             fieldset: {
               legend: {
                 text: "Do you want to add a PAYE scheme to get apprenticeship funding?",
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--s"
               }
             },
             items: [
               {
                 value: "yes",
                 text: "Yes, add my PAYE scheme details now"
               },
               {
                 value: "no",
                 text: "No, I'll do this later"
               }
             ]
           }) }}

           <button class="govuk-button">Continue</button>

</form>
    </div>
</div>

{% endblock %}