{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
             <h1 class="govuk-heading-xl" id="company-Name">Choose an organisation</h1>
    
    <p>You can add other organisations to your account later.</p>

  <form method="post" class="form">

 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

    </legend>

          <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgChoose-1" name="orgNotListed" type="radio" value="Assurance Aerospace Ltd">
        <label class="govuk-label govuk-radios__label" for="orgChoose-1">
          Assurance Aerospace Ltd
        </label>

      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgChoose-2" name="orgNotListed" type="radio" value="Assurance Aerospace (Wings) Ltd ">
        <label class="govuk-label govuk-radios__label" for="orgChoose-2">
        Assurance Aerospace (Wings) Ltd  
        </label>

      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgChoose-3" name="orgNotListed" type="radio" value="Assurance Aerospace (Avionics) Ltd">
        <label class="govuk-label govuk-radios__label" for="orgChoose-3"> Assurance Aerospace (Avionics) Ltd</label>

      </div>
    <div class="govuk-radios">
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgChoose-4" name="orgNotListed" type="radio" value="Assurance Aerospace (Wheels) Ltd ">
        <label class="govuk-label govuk-radios__label" for="orgChoose-4">
       Assurance Aerospace (Wheels) Ltd 
        </label>
      </div>

         <p style="margin-bottom:10px; margin-left:8px">or</p>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgChoose-5" name="orgNotListed" type="radio" value="OrgNot">
        <label class="govuk-label govuk-radios__label" for="orgChoose-5">
       My organisation is not listed
        </label>
      </div>
    </div>
  </fieldset>
</div>
<div>
      <button class="govuk-button" type="submit">Continue</button>
    <!-- <a href="check-your-gg-details-from-multiorg" class="govuk-button">Continue</a>  -->
</form>
</div>
</div>
</div>
</div>
{% endblock %}