

<!DOCTYPE html>

<html lang="en">

<head>


    <meta charset="utf-8" />
    <title>Home - Manage apprentices</title>
    <!--[if gt IE 8]><!-->
    <link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/govuk-template.css" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/govuk-template-print.css" media="print" rel="stylesheet" />
    <!--[if IE 8]><link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/fonts-ie8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/fonts.css" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="https://accounts.manage-apprenticeships.service.gov.uk/dist/javascripts/ie.js"></script><![endif]-->
    <link rel="shortcut icon" href="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/apple-touch-icon-60x60.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="https://accounts.manage-apprenticeships.service.gov.uk/dist/images/opengraph-image.png">

    <link href="https://accounts.manage-apprenticeships.service.gov.uk/dist/css/select2.min.css" media="all" rel="stylesheet" />

    <!--[if gt IE 8]><!-->
    <link href="https://accounts.manage-apprenticeships.service.gov.uk/bundles/screen?v=_wYc3S4r5iUpyVK381AqD4URVMLHgtw3Rkg7j-gDJFQ1" media="all" rel="stylesheet" />
    <!--<![endif]-->

<style>

        .dashboard-heading {
            font-size: 22px;
            color: #6f777b;
            margin-top: 30px;
        }

        @media (min-width: 641px) {
            .dashboard-heading {
                font-size: 27px;
            }
        }

        .dashboard-heading-company {
            margin-top: 0;
            margin-bottom: .2em;
            padding-bottom: .3em;
            border-bottom: 5px solid #bfc1c3;
        }

        .dashboard-section {
            border-bottom: 2px solid #bfc1c3;
            padding-bottom: 15px;
        }

        .dashboard-section-last {
            padding-top: 30px;
        }

        .section-heading {
            margin-top: .75em;
        }

        .section-description {
            color: #6f777b;
        }

        @media (min-width: 641px) {
            .section-description {
                margin: -10px 0 30px;
            }
        }

        .cards {
            background: white;
            margin: 0 -15px;
            flex-wrap: wrap;
            -ms-flex-wrap: wrap;
        }

        @media (min-width: 641px) {
            .cards {
                display: flex;
                display: -ms-flex;
            }
        }

        .card {
            padding: 0 15px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        @media (min-width: 641px) {
            .card {
                width: 50%;
            }
        }

        .card > h3 {
            margin-top: 0;
            margin-bottom: .5em;
        }

        .card > p {
            font-size: 14px;
        }

         @media (min-width: 641px) {
            .card > p {
                font-size: 16px;
            }
         }

.das-favourites-link__icon {
    width: 1.6em;
    margin-right: 8px;
}

.das-favourites-link__text {
    margin-top: 5px;
}

.das-favourites-link {
    display: inline-flex;
    align-items: center;
    color: rgb(0, 94, 165);
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 0px;
    text-decoration: underline;
}


</style>


</head>
<body id="page-company-homepage">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWQBWGJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>



    <div id="global-cookie-message">
        <p>
            GOV.UK uses cookies to make the site simpler. <a href="/service/privacy">Find out more about cookies</a>
        </p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" alt="" width="36" height="32"> GOV.UK
                    </a>
                </div>
            </div>
            <div class="header-proposition">
                <div class="content">
                    <a id="proposition-name" href="/">Manage apprenticeships</a>
                </div>
            </div>
        </div>
    </header>
        <div id="floating-menu-holder">
            <div class="account-information floating-menu" role="navigation">
                <div class="js-float">
                    <p class="floating-head-text">Your employer account </p>
                    <nav id="user-nav">
                        <ul>
                            <li><a href="/service/help">Help</a></li>
                                <li class="has-sub-menu">
                                    <a href="/" role="menuitem">Settings</a>
                                    <ul role="menu" class="js-hidden" id="settings-menu">
                                        <li><a href="/service/accounts" role="menuitem" class="sub-menu-item">Your accounts</a></li>
                                            <li><a href="/accounts/84VBNV/rename" role="menuitem" class="sub-menu-item">Rename account</a></li>
                                        <li><a href="https://beta-login.apprenticeships.education.gov.uk/account/changepassword?clientId=easaccprd&amp;returnurl=https%3a%2f%2faccounts.manage-apprenticeships.service.gov.uk%2f%2fservice%2fpassword%2fchange" class="sub-menu-item">Change your password</a></li>
                                        <li><a href="https://beta-login.apprenticeships.education.gov.uk/account/changeemail?clientId=easaccprd&amp;returnurl=https%3a%2f%2faccounts.manage-apprenticeships.service.gov.uk%2f%2fservice%2femail%2fchange" class="sub-menu-item">Change your email address</a></li>
                                            <li><a href="/settings/notifications" class="sub-menu-item">Notification settings</a></li>
                                    </ul>
                                </li>
                                <li><a href="signin" role="menuitem">Sign out</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

            <div class="header-organisation" role="navigation">
                <nav class="header-inner">
                    <ul id="global-nav-links">
                        <li><a href="/" class="selected" role="menuitem">Home</a></li>
                        <li><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/finance" class="" role="menuitem">Finance</a></li>
                            <li><a href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-1-9/recruitment/dashboard-multiple?user=employer&journey=existing&NumberOfEntities=0" role="menuitem">Recruitment</a></li>
                        <li><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/apprentices" class="" role="menuitem">Apprentices</a></li>
                        <li><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/team" class="" role="menuitem">Your team</a></li>
                        <li><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/orgs" class="" role="menuitem">Your organisations and agreements</a></li>
                        <li><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/paye" class="" role="menuitem">PAYE schemes</a></li>
                    </ul>
                </nav>
            </div>
    <main id="content">

        
         <h1 class="heading-secondary dashboard-heading">Your employer account</h1>
        <p class="heading-xlarge dashboard-heading-company">Assurance Aerospace Ltd</p>

        <a href="" class="das-favourites-link govuk-body">
            <span class="das-favourites-link__icon"><img src="https://das-at-frnt-end.azureedge.net/images/favourite-unchecked-black.svg" alt=""></span>
            <span class="das-favourites-link__text">View saved favourites</span>
        </a> 

        <!-- <section class="das-section das-section--header">
            <div class="govuk-width-container">
                <h1 class="govuk-heading-m das-account__title">Your employer account</h1>
                <h2 class="govuk-heading-l das-account__account-name">Assurance Aerospace Ltd</h2>
                <a href="" class="das-favourites-link govuk-body">
                    <span class="das-favourites-link__icon"><img src="https://das-at-frnt-end.azureedge.net/images/favourite-unchecked-black.svg" alt=""></span>
                    <span class="das-favourites-link__text">View saved favourites</span>
                </a>
            </div>
        </section> -->

        <div class="grid-row">
            <div class="column-two-thirds">

                <section class="dashboard-section">
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            <h2 class="section-heading heading-large">Apprenticeships</h2>
                            <p class="section-description">Manage your apprentices, recruit apprentice and set training provider permissions.</p>
                        </div>
                    </div>
                     <div class="cards">
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/apprentices">Apprentices</a></h3>
                            <p>Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
                        </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-1-9/recruitment/dashboard-multiple?user=employer&journey=existing&NumberOfEntities=0">Recruitment</a></h3>
                            <p>Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.</p>
                        </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/savedProviders">Training provider permissions</a></h3>
                            <p>Set training provider permissions and control what tasks they can do on your behalf.</p>
                        </div>
                    </div>
                </section>

                <section class="dashboard-section">
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            <h2 class="section-heading heading-large">Finances</h2>
                            <p class="section-description">Manage your apprenticeship funds.</p>
                        </div>
                    </div>
                     <div class="cards">
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://esfa-create-apprenticeship.herokuapp.com/reserve/e2e">Your funding reservations</a></h3>
                            <p>Reserve and manage funding.</p>
                        </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/finance">Manage your levy</a></h3>
                            <p>View your financial transactions, connect with other employers and send or receive transfer funds.</p>
                        </div>
                    </div>
                </section>

                <section class="dashboard-section">
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            <h2 class="section-heading heading-large">Account</h2>
                            <p class="section-description">Manage your account details and team.</p>
                        </div>
                    </div>
                     <div class="cards">
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/orgs">Your organisations and agreements</a></h3>
                            <p>Add your organisations that will make contracts with training providers.</p>
                        </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/team">Your team</a></h3>
                            <p>Control what your team can do and invite new team members.</p>
                        </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/paye">PAYE schemes</a></h3>
                            <p>Add or remove PAYE schemes.</p>
                        </div>
                    </div>
                </section>

                <section class="dashboard-section-last">
                    <div class="cards">
                        <div class="card">
                            <h3 class="heading-medium"><a href="https://das-nonlevy-prototype.herokuapp.com/version-11/find" rel="external">Find apprenticeship training </a></h3>
                            <p>Search for apprenticeships and see details of approved providers who can deliver the training.</p>
                        </div>
                    </div>
                </section>

                <div class="panel panel-filled">
                    <h3 class="heading-medium">Help us improve this service</h3>
                    <p><a href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback/" target="_blank">Take our 3 minute survey</a> so that we can improve this service.</p>
                    <p><a href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback/" target="_blank" class="button">Take the survey <span class="vh">so that we can improve the service</span></a></p>
                </div>


            </div>
            <div class="column-one-third">
                <section>
                    <nav>
                        <ul class="js-tabs" role="tablist">
                            <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks">Tasks</a></li>
                                <li role="tab" id="tab-activity" aria-controls="pane-activity"><a href="#pane-activity">Activity</a></li>
                        </ul>
                    </nav>
                    <div class="panes">
                        <div class="js-tab-pane" id="pane-tasks" role="tabpanel">
                                <ul class="task-list">
                                    <li>
                                                    <p>
                                                        Levy declaration due by 19 May
                                                    </p>
                                                    <form action="/tasks/84VBNV/dismissTask" method="POST">
                                                        <input type="hidden" name="taskType" value="LevyDeclarationDue" />
                                                        <button class="button-link" type="submit">Dismiss this message</button>
                                                    </form>
                                        </li>
                                </ul>
                        </div>
                        <div class="js-tab-pane" id="pane-activity" role="tabpanel">
                            <ol id="item-list"><li class="item"><div class="item-label">28th Mar 2019</div><div class="item-description">Raina Nisar joined</div></li><li class="item"><div class="item-label">28th Mar 2019</div><div class="item-description">raina nisar invited by Sultan Mahmood</div></li><li class="item"><div class="item-label">25th Mar 2019</div><div class="item-description">2 users joined</div></li><li class="item"><div class="item-label">25th Mar 2019</div><div class="item-description">2 users invited</div></li><li class="item all-activity"><div class="item-label"><a href="/accounts/84VBNV/activity">See all activity</a></div></li></ol>
                        </div>
                    </div>
                </section>
            </div>
        </div>



    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <ul class="platform-help-links">
                        <li><a href="/service/help">Help</a></li>
                        <li><a href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback/" target="_blank">Feedback</a></li>
                        <li><a href="/service/privacy">Privacy and cookies</a></li>
                        <li>Built by the <a href="http://gov.uk/esfa" target="_blank">Education and Skills Funding Agency</a></li>
                    </ul>
                    <div class="open-government-licence">
                        <p class="logo">
                            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                        </p>
                        <p>
                            All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                        </p>
                    </div>
                </div>
                <div class="copyright">
                    <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://accounts.manage-apprenticeships.service.gov.uk/bundles/sfajs?v=epUSgYeWCRVXQtkrz6ow5Oe4hq4jkScFpxymodtHb7M1"></script>


</body>
</html>
