{% extends "layout.html" %}

{% block pageTitle %}
  Registration team prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Registration journeys
      </h1>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/registration/bus-pass/">Bus pass</a> </li>
            <li><a href="/registration/skip-step/">Skip steps</a> </li>
        </ul>


    </div>
</div>

{% endblock %}
