{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "new-user" %}

{% block content %}
<style>

</style>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <form action="#" method="get" class="form">
            <h1 class="govuk-heading-xl" style="">Select your organisation</h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="searchResults">
                            Search results
                        </label>

                        <input class="govuk-input govuk-!-width-three-quarters-half" id="orgName" name="orgName" type="text" aria-describedby="searchResults" value="{{ data['orgName'] }}">
                    </div>
                    <p style="margin-top:10px">2 results found</p>
                </fieldset>
            </div>

        </form>
    </div>
</div>
        <h2 class="govuk-heading-m" style="">Filter results</h2>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div id="" class="govuk-form-group filtersHolder">

            <div class="filterHeader">
                <h3 class="govuk-heading-s" style="">Article type</h3>
            </div>

          <fieldset class="govuk-fieldset">
          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-1" name="org" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="needed-1">
               Company
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-2" name="org" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="needed-2">
                Charity
              </label>
            </div>

              <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-3" name="org" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="needed-3">
               Public sector
              </label>
            </div>
              <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-4" name="org" type="radio" value="false" checked="checked"  >
              <label class="govuk-label govuk-radios__label" for="needed-4">
               Show all
              </label>
            </div>
          </div>
          </fieldset>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div>
            <h3 class="govuk-heading-s" style="margin-bottom:0; cursor: pointer; color:#005ea5; text-decoration:underline;  "><a onclick="whereNow()">{{ data['orgChoose'] }}</a></h3>
            <p style="margin-bottom:0"><span style="font-weight:700; ">Address</span>   No 2 Lochrin Square, 96 Fountainbridge, Edinburgh, EH3 9QA</p>
              <p><span style="font-weight:700">Type</span> Listed on Companies House</p>
              <hr>
        </div>
          <div>
            <h3 class="govuk-heading-s" style="margin-bottom:0; margin-top:15px; cursor: pointer;color:#005ea5; text-decoration:underline;  "><a href="check-your-details">Assurance Plumbing Ltd</a></h3>
            <p style="margin-bottom:0"><span style="font-weight:700; ">Address</span> 1 Bracey St, Finsbury Park, London, N4 3BJ</p>
              <p><span style="font-weight:700">Type</span>  Listed on Companies House</p>
              <hr>
        </div>
        <div>
          <h4 class="govuk-heading-s">Can't find your organisation?</h4>
          <p style="font-size:16px; margin:0 0 5px 0">Check the spelling and <a href="">search again.</a></p>
          <p style="font-size:16px; margin:0">You can also <a href="">enter your details manually.</a></p>
        </div>
    </div>
</div>    
</main>
</div>
{% endblock %}