{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "ways-to-add-paye" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

           <h1 class="govuk-heading-xl">
             Using your Government Gateway details
           </h1>
           <form action="govtgateway" method="get" class="form">
               <p>You’ll now be taken to the HMRC Government Gateway site where you’ll be asked to sign in using your Government Gateway credentials. </p>
               <p>When you sign in to your Government Gateway account you’ll be asked to ‘grant authority’ to allow your 
       tax details to be used.</p>
       
               <div class="govuk-form-group" style="margin-top:35px">

                  {{govukButton({
                    text: "Continue",
                    href: "gov-gateway"
                  })}}

                <!-- <a href="gov-gateway" class="govuk-button">Continue</a> -->
                <a href="homepage-addPAYE" class="govuk-button clear-button">Skip this step for now</a>
             </form>
           </div>
         </div>
       </form>


    </div>
</div>

{% endblock %}