{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "/" %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

           <h1 class="govuk-heading-xl">
             Provider-led registration change log
           </h1>
           <table class="govuk-table">
            <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Change description</th>
                <th class="govuk-table__header" scope="col">Reqested/signed off by</th>
                <th class="govuk-table__header" scope="col">UR</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">05/06/19</th>
                <td class="govuk-table__cell">Description here...</td>
                <td class="govuk-table__cell">Name here</td>
                <td class="govuk-table__cell">Yes or No</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">04/06/19</th>
                <td class="govuk-table__cell">Description here...</td>
                <td class="govuk-table__cell">Name here</td>
                <td class="govuk-table__cell">Yes or No</td>
              </tr>
              
            </tbody>
          </table>

    </div>
</div>

{% endblock %}