{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "orgAgreement" %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
     <h1 class="govuk-heading-xl">Search for your organisation</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label  bold-label" for="orgName">Enter organisation name</label>

              <input class="govuk-input"  id="orgChoose" name="orgChoose" type="text" aria-describedby="orgChoose">
          </div>
          </fieldset>
        </div>
        {{govukButton({
          text: "Search test",
          href: "#"
        })}}
      </form>

    </div>
  </div>
       

  </div>
{% endblock %}